body {
  background: #1d202f;
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  height: calc(100vh - 60px);
  padding: 30px 10px;
}

.grid__item {
  align-items: center;
  background: #2b2d42;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.grid__text-1 {
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 1000;
}

.grid__text-2 {
  font-size: 37.5px;
}

@media screen and (max-width: 700px) {
  .grid__text-1 {
    font-size: 40px;
  }

  .grid__text-2 {
    font-size: 21.5px;
  }
}

.grid__image {
  height: 70px;
  margin-bottom: 15px;
  width: 70px;
}

.grid__item--pink {
  background: #e61f62;
}

.grid__item--1x2 {
  grid-column: span 2;
}

.grid__item--2x1 {
  grid-row: span 2;
}

.grid__item--1x3 {
  grid-column: span 3;
}
